/* Box sizing: Margin, borders and padding are drawn outside the set width of your content. */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0px;
    background: url(../media/backgrundColors.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    text-align: center;
    clear: both;
}

/* Forms */

.form-title {
    margin-top: 5%;
}

.form-admin,
.form-login {
    margin: 4% 30% 5%;
    padding-top: 1%;
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 20px;
    border: 2px solid black;
    text-align: left;
}


.form-group {
    margin-top: 10px;
    padding-left: 10%;
}

.form-admin h2,
.form-login h2 {
    text-align: center;
}

.form-med-size {
    height: auto;
}

.form-button {
    margin: 50px 72px;
    display: inline-block;
    border-radius: 6px;
    width: 50%;
    font-family: Arial;
    font-size: 20px;
    padding: 4px;
    text-decoration: none;
}

.form-button:hover {
    background: rgb(252, 179, 44);
    transition-property: background;
    transition-duration: .5s;
}

.form-secondary-button {
    text-align: center;
    float: right;
    margin-right: 35px;
    border-radius: 6px;
    width: 30%;
    font-family: Arial;
    font-size: 14px;
    padding: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    background-color: lightgoldenrodyellow;
}

.form-secondary-button:hover {
    background: rgb(252, 179, 44);
    transition-property: background;
    transition-duration: .5s;
}

.secondary-button {
    margin-top: 2%;
    text-align: center;
    display:inline-block;
    margin-right: 35px;
    border-radius: 6px;
    width: 30%;
    height: 25px;
    font-family: Arial;
    font-size: 14px;
    padding: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    background-color: lightgoldenrodyellow;
}

.secondary-button:hover {
    background: rgb(252, 179, 44);
    transition-property: background;
    transition-duration: .5s;
}


.label {
    display: inline-block;
    width: 90px;
}

.label-l {
    display: inline-block;
    width: 120px;
}

.input-xs {
    display: inline-block;
    width: 20%;
    border-radius: 6px;

}

.input-s {
    display: inline-block;
    width: 60%;
    border-radius: 4px;
}

.input {
    display: inline-block;
    width: 70%;
    border-radius: 4px;
}

.button-half {
    margin-top: 20px;
    margin-bottom: 10px;
}


.div-form-button {
    text-align: center;
    text-emphasis: none;
}

.form-cart {
    padding: 10px;
}




/*HEADER GENERAL*/
header.general{
    display: flex;
    width: 100%;
    height: 50px;
    color: rgb(248, 185, 69);
    background-color:#434343bd;
}
.column1{
    width: 70%;
    padding-top: 10px;

}

.column2{
    width: 5%;
    border-left: 1px solid rgba(150, 139, 139, 0.7);
    border-right: 1px solid rgba(150, 139, 139, 0.7);
    text-align: center;
}
.column2 img{
    width: 85%;
    height:auto;
    display: inline-block;
    margin: 0px 3px;
}

.column2.admin img {
    width: 65%;
    height:auto;
    display: inline-block;
    margin: 4px 10px;
}

.column2.avatar img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ccc;

}

.column2 a{
    width: 100%;
    display: inline-block;
    height: 50px;
}

.column2 a:hover{
    background-color: rgb(145, 143, 143);
}

.column2-cart-add a{
    background-color: rgb(252, 179, 44);
}


.column3{
    width: 30%;
}

.column3.admin {
    width: 25%;
}
.column3 h3{
    margin-top: 0%;
    padding-top: 6px;
    padding-left: 5px;
    height: 25px;
    margin-bottom: 0%;
    border-bottom: 1px solid rgba(150, 139, 139, 0.7);
    border-right: 1px solid rgba(150, 139, 139, 0.7);
    font-size: 15px;
    color: #FFF;
}

.column3-half{
    top: 0;
    width: 50%;
    float: left;
    height: 50%;
    text-align: center;
    border-right: 1px solid rgba(150, 139, 139, 0.7);
}

.column3-half a{
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    padding-top: 8px;
    width: 100%;
    height: 25px;
    color: #FFF;
}

.column3-half:hover a{
    background-color: rgb(145, 143, 143);
    color: #272626;
}



.column1 h2 {
    font-size: 30px;
    font-family: serif;
    padding-left: 5%;
    margin: 0;
}


/* Barra de navegacion de administrador */

.nav-bar-admin,
.nav-bar-user {
    width: 100%;
    height: 30px;
    margin: 0;
    border-top: 1px solid rgba(150, 139, 139, 0.7);
    background-color:#434343bd;
    background-position: center;
}

.nav {
    margin: 0;
}

.nav-bar-admin .nav > li {
    float:left;
    width: 185px;
    text-align: center;
}

.nav-bar-user .nav > li {
    float:left;
    width: 310px;
    text-align: center;
}

ul {
    list-style: none;
}

.nav li a {
    text-decoration:none;
    display: inline-block;
    height: 29px;
    width: 100%;
    color: #FFF;
    padding-top: 5px;
    font-size: 14px;
}

.nav li a:hover {
    background-color: rgb(145, 143, 143);
    color: #272626;
}

.nav-bar-admin .nav li ul {
    display:none;
    position:absolute;
    width: 185px;
}

.nav-bar-user .nav li ul {
    display:none;
    position:absolute;
    width: 310px;
}

.nav li:hover > ul {
    display:block;

    text-align: center;
    padding:0;
    background-color:#434343bd;

}

a {
    transition-property: background-color, color;
    transition-duration: 1s;
}

.column3-bot {
    text-align: center;
}

.column3-bot a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 25px;
    padding-top: 4px;
    color: #FFF;
}

.column3-bot a:hover {
    background-color: rgb(145, 143, 143);
    color: #272626;
}


/* LISTAR EVENTOS */


.content > h3 {
    display: inline-block;
    height: 30px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    background-color: rgb(252, 179, 44);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    text-align: left;
    padding-left: 2%;
    padding-top: 5px;
}

.container {
    border: 2px solid black;
    width:60%;
    margin-left: 20%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.616);
}

.element {
    border: 1px solid black;
    margin: 1%;
    position: static;
    width: 98%;
    height: 100%;
    text-align: left;
}

.element.event-elem {
    margin-top: 5%;
}

.element.event-elem img{
    margin-top: 2%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: static;
}

.align-center {
    text-align: center;
}

.list-users {
    padding: 1%;
}

.margin-0 {
    margin: 0;
}

.artist-container{
    border: 1px solid black;
    margin: 1%;
    position: static;
    width: 98%;
    height: 100%;
    /* text-align: left; */
}

.artist-image img {
    margin-bottom: 2%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.artist-name h4{
    font-size: 24px;
}

.element p,
.element h4 {
    margin: 0;
    position: relative;
}

.element h4 {
    text-align: left;
    font-size: 25px;
    display: inline-block;
    width: 50%;
    padding: 10px;

}

.p-listev-art{
    font-size: 20px;
    float: right;
    width: 55%;
    height: 50%;
    padding-top: 40px;
    margin-right: 11%;
    text-align: center;
}

.p-listev-plc{
    font-size: 20px;
    display: inline-block;
    width: 50%;
    padding: 10px;
}

.p-listev-date {
    font-size: 18px;
    display: inline-block;
    width: 49%;
    padding: 10px;
}

.link-divs-nd {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
    width: 100%;
    box-shadow: 10px;
}

.link-divs {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
    width: 100%;
    box-shadow: 10px;
}

.link-divs:hover {
    background-color: rgb(252, 179, 44);
}

.link-divs:hover > .mini-box-price{
    background-color: rgb(252, 179, 44);
}



.mini-box-title {
    display: inline-block;
    height: 40px;
    width: 100%;
    background-color: rgba(252, 179, 44, 0.7);
    padding-top: 2%;
}

.link-divs-nd > .mini-box-title {
    background-color: rgb(57, 57, 66);
    color: white;
}

.mini-box-price {
    display: inline-block;
    height: 40px;
    width: 100%;
    padding-top: 2%;
    background-color:white;
}




.half {
    width: 47%;
    display: inline-block;
    font-size: 18px;
    margin: 1%;

}

.half.mini-box p,
.half p {
    text-align: center;
}


.full {
    width: 98%;
    font-size: 20px;
    margin: 1%;
    padding-left: 3%;
}

.mini-box {
    border: 1px solid black;
    padding-left: 10%;
    padding: 2%;
}

.div-img {
    width: 33%;
    float: left;
    height: 100%;
}

.img-list-event {
    height: 200px;
    max-width: 100%;
    display: inline-block;
    border-radius: 15px;
    padding: 1%;
}

.alert {
    display: inline-block;
    width: 40%;
    border: 2px solid rgb(252, 179, 44);
    border-radius: 20px;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.616);

}

.subtitle {
    display: inline-block;
    clear: both;
    width: 90%;
    background-color: rgba(252, 179, 44, 0.7);
    margin-top: 20px;
    padding: .5%;
}

.subtitle-ev-detail-half {
    margin: 10px 1%;
    width: 47.5%;
    background-color: rgb(252, 179, 44);
    padding: .5%;
}

.subtitle-ev-detail {
    margin: 10px 1%;
    width: 97.5%;
    background-color: rgb(252, 179, 44);
    padding: .5%;
    text-align: center;
}


.ev-elem-clr {
    background-color: rgba(255, 255, 255, 0.596);
}
